<div class="container" #containerTemp>
  <div class="comp1">
    <ng-container *ngTemplateOutlet="template1; context: { data: contextExp }">
      This text is not displayed
    </ng-container>
  </div>
  <div class="comp2">
    <ng-container *ngTemplateOutlet="template2">
      This text is not displayed
    </ng-container>
  </div>

  <div class="comp3">
    <ng-container *ngFor="let item of arr">
      <div class="child">
        {{ item }}
      </div>
    </ng-container>
  </div>
</div>

<!-- *ngFor / *ngIf are called structural directives * (astrisk means it creates a ng-template to wrap around it) -->
<div *ngFor="let item of items">
  <div
    class="item"
    >{{ item }}</div>
</div>

<ng-template #template1 let-data="data">
  <div blueBackground>
    <b>
      {{ data | custom }}
      <!-- this pipe converts to uppercase -->
    </b>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo tempora omnis
    ducimus neque illo dolore cum adipisci sunt, nisi, quaerat expedita quos hic
    totam! Suscipit reprehenderit vel esse fugit obcaecati.
  </div>
</ng-template>
<ng-template #template2>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo tempora omnis
  ducimus neque illo dolore cum adipisci sunt, nisi, quaerat expedita quos hic
  totam! Suscipit reprehenderit vel esse fugit obcaecati. Lorem ipsum dolor sit
  fugit obcaecati.
</ng-template>
