.progress-bar {
  width: 400px;
  margin-top: 20px;
  height: 30px;
  color: #fff;
  background: rgb(138, 193, 255);
  border-radius: 4px;
  .progress-value {
    height: 30px;
    background: rgb(66, 89, 214);
  }
}
