.selectable-grid-container {
  ::selection {
    background-color: transparent;
  }
  height: 500px;
  width: 500px;
  .content {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    .child {
      height: 40px;
      width: 40px;
      border: solid 1px black;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .active {
      background-color: rgb(49, 165, 38);
      color: #fff;
    }
  }
}
