@import "~bootstrap/scss/bootstrap";

.container {
  margin-left: 10px;
  .routing-container {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    .link-routes {
      padding: 5px 0;
      display: inline-block;
    }
  }
}
