@import "~bootstrap/scss/bootstrap";
[data-theme="light-mode"] {
  --bg-color: #ffffff;
  --text-color: #000;
  --heading-color: red;
}
[data-theme="dark-mode"] {
  --bg-color: #000;
  --text-color: #ffff;
  --heading-color: green;
}
.container {
  margin-left: 10px;
  .routing-container {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    .link-routes {
      padding: 5px 0;
      display: inline-block;
    }
  }
}
.link-routes {
  background-color: rgb(220, 247, 255);
  border: solid 1px rgba(0, 0, 0, 0.384);
}

button {
  border: solid 1px #0000001f;
  outline: none;
  padding: 6px;
  border-radius: 4px;
  background: #dee2e600;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-weight: 600;
  margin: 2px;
}

button:active {
  border: solid 1px #0504041f;
  outline: none;
  padding: 6px;
  border-radius: 4px;
  background: var(--bg-color);
  box-shadow: rgba(117, 112, 112, 0.16) 0px 1px 4px;
  font-weight: 600;
  color: var(--text-color);
}
input {
  padding: 5px;
  border-radius: 4px;
  border: solid 1px #80808078;
  outline: none;
  margin: 9px 0;
}
