@import "~bootstrap/scss/bootstrap";

.container {
  margin-left: 10px;
  .routing-container {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    .link-routes {
      padding: 10px 0;
    }
  }
}
