.container {
  .content {
    border: solid 1px black;
    width: 100%;
    padding: 10px;
    height: 100%;
  }
  .horizontal-bar {
    width: 20%;
    height: 4px;
    background-color: black;
    position: absolute;
    top: 25px;
  }
}
