@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

$card-width: 230px;
.trello-board-container {
  padding: 10px;
  background: rgb(20, 18, 43);
  background: linear-gradient(
    180deg,
    rgba(18, 18, 43, 1) 0%,
    rgba(76, 0, 143, 1) 99%
  );
  height: 100vh;
  .content {
    width: 100%;
    overflow: auto;
    border-radius: 4px;
    display: flex;
    .task-board {
      // color: #fff;
      height: 90vh;
      padding: 5px;
      border: solid 1px rgba(0, 0, 0, 0.377);
      margin: 5px;
      border-radius: 10px;
      background-color: #10120480;
      padding: 10px;
      min-width: $card-width;
      .add-task-btn {
        margin-top: 5px;
        margin-right: 5px;
        position: relative;
        display: block;
      }

      .trello-task-card {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        padding: 10px;
        border-radius: 10px;
        font-size: 14px;
        width: $card-width;
        background-color: #22272b;
        font-weight: 500;
        color: #ffffffd1;
        cursor: pointer;
        &:active {
          transform: scale(1.07);
        }
      }
      .hide {
        opacity: 0.1;
      }
    }
    .board-container {
      .board-btn {
        margin-top: 5px;
        margin-right: 5px;
        position: relative;
        display: block;
      }
    }

    .dummy-task {
      width: $card-width;
      border-radius: 10px;
      background-color: rgb(114, 114, 114);
      pointer-events: none; //important for removing drag glitchy effects
    }
  }
}
