* {
  margin: 0;
  padding: 0;
  font-size: 18px;
}
.pagination-container {
  margin: 20px 0 0 20px;

  .product-container {
    width: 100%;
    height: 100%;
    &__content {
      &__item {
        border-bottom: solid 1px rgba(0, 0, 0, 0.37);
        padding: 10px 0;
      }
    }
  }
  .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .page-number {
      &__content {
        &__item:hover {
          background-color: rgba(0, 0, 0, 0.527);
          color: #fff;
        }
        &__item {
          display: inline-block;
          margin: 10px;
          text-align: center;
          padding: 5px;
          border: solid 1px rgba(0, 0, 0, 0.397);
          cursor: pointer;
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}
