.calender-container {
  height: 100%;
  .time-slots-container {
    width: 100%;
    display: flex;
    .time-slots {
      height: 50px;
      width: 100%;
      display: flex;
      background-color: rgba(203, 212, 208, 0.377);
      margin: 1px auto;
      .partial-time-slots {
        // background-color: rgba(175, 235, 175, 0.452);
        // width: 100%;
        // height: 20px;
      }
      .active {
        z-index: 1;
        background-color: orange;
      }
      .time-value{
        width: 100px;
      }
      .horizontal-border {
        width: 100%;
        margin-top: 15px;

      }
    }
  }
  .active {
    background-color: orange;
    z-index: 1;
  }
}
