<form [formGroup]="authForm">
  <label for="first-name">First Name: </label>
  <input id="first-name" type="text" formControlName="firstName" />

  <label for="last-name">Last Name: </label>
  <input id="last-name" type="text" formControlName="lastName" />
  <label for="email">Email: </label>
  <input id="email" type="email" formControlName="email" />
  <label for="password">Password </label>
  <input id="password" type="password" formControlName="password" />

  <button [disabled]="!authForm.valid">Submit</button>
</form>

