[data-theme="light-mode"] {
  --bg-color: #ffffff;
  --text-color: #000;
  --heading-color: red;
}
[data-theme="dark-mode"] {
  --bg-color: #000;
  --text-color: #ffff;
  --heading-color: green;
}

input {
  padding: 5px;
  border-radius: 4px;
  border: solid 1px #80808078;
  outline: none;
  margin: 9px 0;
}
