.grid-light-container {
  height: 500px;
  width: 500px;
  .content {
    border: solid 1px black;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .child {
    background: #fff;
    border: solid 1px black;
    &:hover {
      background-color: skyblue;
    }
  }
  .active {
    background-color: skyblue;
  }
}
